$primary-color:red;
$primary-color-darker: rgb(187, 17, 17);
$grey-color: #92949766;
$light-grey-color: #929497;
$color-dark: #002147;

$brown-red: #862928;
$light-grey: #fcfaf9;
$font-grey: #5a5a5a;
$dark-grey: #868686;
$panel-grey: #fefefe;
$panel-grey-light: #e8e8e8;
$placeholder-grey: #aaa5a5;
$orange: #db8b47;
$red: #ed1c24;
$grey-text: #656565;
$light-green: #aaeb97;
$mid-green: #22ad0e;
$blue-grey: #92949720;
$brick: #a32a29;

:root {
  --equity: #a32a29;
  --black-60: rgba(34, 31, 31, 0.6);
  --black: #221f1f;
  --pearl: #f7f7f7;
  --white: #ffffff;
  --red: #e60000;
  --cool-grey-40: rgba(146, 148, 151, 0.4);
  --green: #2f9803;
  --orange: #f38707;
  --cool-grey-20: rgba(146, 148, 151, 0.2);
  --cool-grey: #929497;
}
