<div class="row">
    <div class="col-md-12 p-4">
      <div class="side-top">
        <div class="position-relative">
          <img class="nav-btn" src="" />
        </div>
  
        <div>
            <a href="#" style="color: #0b3169;" ><mat-icon class="logo"> contact_phone</mat-icon>Contacts</a>
        </div>
      </div>
    </div>
  
    <div class="col-md-12 mt-3 p-0">
      <ul class="nav-ul primary-nav">
        <!-- primary nav-item -->
        <li class="nav-item" >
          <div class="d-flex justify-content-start align-items-center">
            <button mat-raised-button class="create-button" (click)="createContacts()"><mat-icon>add</mat-icon>Create contact</button>
          </div>
        </li>
  
      </ul>
    </div>
  
    <div class="col-md-12 p-0">
      <hr class="bg-secondary">
    </div>
    <div class="col-md-12 p-0">
      <ul class="nav-ul secondary-nav">
  
        <!-- nav-item -->
        <li class="nav-item">
          <div class="d-flex justify-content-start align-items-center">
            <mat-icon>settings</mat-icon>
            <a class="nav-link d-inline"> Settings</a>
          </div>
        </li>
        <!-- routerLink="/settings" routerLinkActive="active" -->
  
        <!-- nav-item -->
        <li class="nav-item" >
          <div class="d-flex justify-content-start align-items-center">
            <mat-icon>arrow_back</mat-icon>
            <a class="nav-link d-inline">Sign out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  