
<div class="back"><a routerLink="" style="color: black;"><mat-icon>arrow_back</mat-icon></a></div>

<div class="row">
<div class="res-circle col-4">
    <div class="circle-txt">{{letter}}</div>
</div>
<div class="contact-name col">{{contactDetails.name}}</div>
</div>

<mat-divider style="margin-top: 20px;" ></mat-divider>

<div class="contact-details col-5">
    <div id="details-title">Contact detail</div>
    <div><mat-icon> call</mat-icon><a id="number" href="tel:#" >{{contactDetails.mobilenumber}}</a></div>
</div>